
.button_type {
	color: grey;
	background: #ececec;
	display: inline-block;
	height: 30px;
	width: 100px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	border-radius:5px;
	margin:3px;
	font-size:12px;
}
.choose{
	color: white;
	background: #3c546e;
	margin: 0 auto;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	display: inline-block;
	cursor: pointer;
	border-radius:5px;
	margin:3px;
	font-size:12px;
}
.no_choose{
	color: grey;
	background: #ececec;
	margin: 0 auto;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	display: inline-block;
	cursor: pointer;
	border-radius:5px;
	margin:3px;
	font-size:12px;
}
